<% layout("layouts/boilerplate")%>

  <section class="container my-4">
    <div class="content">
      <h1 id="index-title" style="text-align: center;">Available Tours</h1>
    </div>
    <div class="content cards-list">
      <% for(let i=0; i < tours.length; i++) {%>
        <div class="card" id="index-card">
          <a value="<%= tours[i]._id %>" href="/tours/<%= tours[i]._id %>">
            <div class="card-content mb-0">
              <div class="media">
                <div class="circle">
                 <p><%= [i + 1] %></p>
                </div>
                <div class="media-content">
                  <p class="title">
                    <%= tours[i].name %>
                  </p>
                  <p class="subtitle">
                    <%= tours[i].neighborhood %>
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <% } %>
    </div>
  </section>